<p>
  Hi <% @user.name %>
</p>

<p>
  Welcome to Exile Weyr. It's good to have you with us.
</p>

<p>
  Remember that we play via Google Groups mailing lists. If you haven't joined our lists already, please do so. Links: 
  <%= link_to 'Exile Weyr', 'https://groups.google.com/forum/#!forum/exile-weyr'%> and 
  <%= link_to 'Exile Weyr OOC', 'https://groups.google.com/forum/#!forum/exile-weyr-ooc'%>
</p>

<p>
  Ready to get started with your first character? Great! We look forward to fun times and much plotting!
</p>

<p>~ Exile BoD ~</p>