<p>
  Hi <% @user.name %>
</p>

<p>
  Thank you for signing up for the character repository. Click <%= link_to 'here', new_character_path %> to get   started with your first character.
</p>

<p>Good luck!</p>
