<% title "Welcome to Exile Weyr!"%>

<h3>
  <i>Welcome to the Island of Exile, a PBeM RPG based on Anne McCaffery's Dragonrider's of Pern!</i>
</h3>

<div id='announcements'>
  <% if @article %>
    <%= @article.body %>
  <% end %>
</div>

<p>
Welcome to the Island of Exile, an <bold>alternate</bold> 10th pass Dragonriders of Pern PBeM game. Please take a look around and see if this might be the RPG for you. We are a friendly, laid back weyr. Exile was created to give everyone the best of all worlds. Paradise, politics, action, and an engaging, fun plot! We deviate from traditional cannon by a bit, as this is a 10th Pass, alternate time-line Weyr. We took a left turn at 'canon', so things aren't quite as set in stone as other RPGs.  Pirates, sport colors, timing, sea monsters, 'Impress-able' felines- we've got lots of stuff that many Weyrs tend to shy away from so that makes us perfect for newbies to the Pern Fandom who just want a fun RPG with dragons. ;)  For those Pern fans, we do keep at least a loose basis in fact and cannon, and we do abide by our own timeline, but our plots, both everyday and MAJOR PLOTS, are free-form and open for member input- and we're always open to suggestions on how to make things more FUN. Our rules are flexible and the members of the Board of Directors are always more than willing to listen to ideas and tweak the set rules for good causes. Like with most RPGs, we have writing requirements here, but we realize that writing is not the end-all and be-all, so they're lax and we don't expect 24/7 from our writers. So please look around, take a gander at our game basis on our <%= link_to 'about', articles_path %> pages. See just what's going on and how we differ from your usual Weyrs. Think this might be the place for you? Well, we would love to have you! <%= link_to 'Click here to find out how to join!', articles_path %>
</p>

<p>
Please note: While it's not required for the email groups, a Google g-mail email address is recommended, especially for the website. This website is hosted by Google, and we can only grant editing permissions for your characters to you if you have a g-mail address.
</p>

<br>

<p>
  <div id='rating_disclaimer'>
    <span id='red_warning'>WARNING: </span>This list may contain graphic posting. They will, however, be clearly labeled as Rated R.  We do still ask
 that you be at least 16 to join, though exceptions can be made. Please see the Writing Requirements for more information. 
  </div>
</p>