<p>
  Hi, everyone! First, some tips and guidelines:
</p>

<p>
  Once you submit this form, you should receive automated email. That means that we've received your character and will get back to you in 24 to 48 hours.
</p>

<p>
  Certain parts of the below form are required only for certain characters. For example, a candidate needs the candidate section filled out, along with the general character information, and any other sections appropriate to your character.
</p>

<p>
  <strong>Important Note: </strong> If you are creating a rider and/or a pet owner, a dragon form and/or pet form(s) <strong>must</strong> be filled out after you submit your character. You'll find the links at the bottom of your character sheet.
</p>

<p>
  If you have not joined our lists, please do so now. You can find them here: <%= link_to 'Exile Weyr OOC', 'https://groups.google.com/forum/#!forum/exile-weyr-ooc' %>, <%= link_to 'Exile_Weyr', 'https://groups.google.com/forum/#!forum/exile-weyr'%>
</p>

<p>
  If you need any assistance in filling out the persona sheet, contact the BoD. Here is a sheet that tells you basically what we're looking for. And you're free to browse the uploaded and already approved sheets for examples. 
</p>

<p>
  Not sure if you want to start a character from scratch?  Want someone with a past already? Or need to know if someone already has a major rank you'd like to play, or need to RP out? Check out our Adoptable and NPCs right here!
</p>

<h2>Rules to Remember</h2>

<p>
1. Don't forget about your firelizards- many people write them and then forget about them. You can always ask for a second metallic one later or gain one during game play. But no one persona should have more than four.
</p>

<p>
2. Try to avoid stereotypes or cliches. This goes for both personalities, appearances, and histories. We want original and interesting!
</p>

<p>
3. Try to write interesting characters. People aren't defined by their strengths but rather their limitations. Also, Pern is pastoral and there probably aren't a whole lot of people who are abused, abducted, or abandoned.
</p>

<p>
4. Please don't send me a half filled out form with parts not done. It is really a pain to have to send it back to you to have you redo the ones you missed. Example: If you are making a dragonrider, please use the Dragonrider Persona Sheet. You will find separate persona sections for Dragonriders, Crafters, Holders/Holderfolk, and NPC's. For those who have holdless or Caravan people, please use the Crafter Persona Sheet.  Also, please note many characters may need to have more than one section filled out. Many riders/candidates are crafters, too. Your writer name (screen-name) and email is a MUST. But remember, not all sections are needed for all characters. If you're unsure which sections you need.... ask! 
</p>

<p>
5. If you have a weyrling pair please put the size and their personality and strengths/weaknesses as you would for a full-grown dragon. What we are looking for is how they will be and what size they will be as adults. It is such a pain in the rear to keep changing the size and stuff as they "grow".
</p>

<p>
6. Please keep your personas as life like as possible. We don't need any Gods or superheros in here. This means give them flaws, physical or emotional. Give them things that make them HUMAN. 
</p>

<p>
7. Please, use pronounceable names, but 'Pernified' ones.  Please, we want better thought than K'mart or Wal'mart, or Betty and Sue.  However, we don't want Ketrichyocenianara. We'd like to be able to pronounce them, and not look it up every time we needed to write it out. Same rule of thumb goes for Dragons. Death, Truth? Meth? No, please. But neither Xiozayarianeth.  Believeable, please. 
</p>

<p>
8. No Carbon Copies. No Plagiarism. Characters from Anne's books are NOT allowed.  I don't mind characters from anime or movies or other books, but please try to make it your own. Please use a little creativity and originality. We're not going to be upset if you use someone for a basis, or pull inspiration from a few places. We will, though, send your sheet back to you if we find it's a carbon copy  of someone else's biography or if you've quoted text from books or anything, okay? This noted, this is a rule that is always in effect. If we approve a sheet and later find out it's plagiarized, we reserve the right to ask you to change it.  
</p>

<p>
9. Candidates with only one color preference. This isn't a no-no. I understand that sometimes,  you only want to play a character if it's with one particular color. And we'd rather Impress you to a color you want than have a candidate become a weyrling and then stop being played because you don't like the dragon's color. This is only a friendly reminder that if you mark 'gold only' or 'silver only' you may have to be prepared to wait a few hatchings to get one, and they'll need to be a fairly active and well-written character. 
</p>

<p>
10. Pay attention to age requirements, though we are pretty lax about this and if it's a point in a well-written sheet, we will waive this rule. 
</p>

<p>
For Crafters: 
</p>

<ul>
  <li>Apprentice - From age 12 and up.</li>
  <li>Journeyman/woman - 5 to 7 turns after beginning apprenticeship.</li>
  <li>Master - 8 to 10 turns after becoming a journeyman/woman.</li>
  <li>Craftmaster - 5 to 7 turns after becoming a master.</li>
</ul>

<p>
Candidates range from 10-25. All other characters have no age requirement- at this time- however please make it believable. 
</p>

<p>
11. Again, if you're not 100% certain about the character you want, take a gander at out Adoptables, under the Characters page.  WHo knows?  You might find a character there whom you can flesh out and breath life into, and they usually come with ranks and other quirks built in!
</p>

<br><hr>