<h2>The <%= params[:character_type] ? params[:character_type] : "Characters" %> List</h1>

<p> Below is a list of all the <%= params[:character_type] ? params[:character_type].downcase : "characters" %> in alphabetical order. </p>
<hr>

<%= render "list" %>
