<% title(params[:character_type] ? "#{params[:character_type]} List" : "Characters List") %>

<p> Below is a list of all the <%= params[:character_type] ? params[:character_type].downcase : "characters" %> in alphabetical order. </p>
<hr>

<%= render "list" %>
