.title {
  width: 80%;
}

.last_updated {
  text-align: right;
}

h3 {
  text-align: center;
}

#red_warning {
  color: red;
}

#rating_disclaimer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

#announcements {
  text-align: center;
  font-weight: bold;
}