// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.char_table {
  line-height: 22px;
}

#show_form {
  border: 1px solid #bbb;
  width: 25%;
  margin-bottom:15px;
}

.hidden_character_form {
  display: none;
}
