// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.char_table {
  line-height: 22px;
  #name, #gender, {
    width: 10%;
  }

  #dragon_color, #user {
    width: 7.5%;
  }

  #dragon_name{
    width: 12.5%;
  }
  
  #type, #craft {
    width: 15%;
  }
  
  #rank {
    width: 22.5%;
  }
}



#show_form {
  border: 1px solid #bbb;
  width: 25%;
  margin-bottom:15px;
}

.hidden_character_form, #preview_button {
  display: none;
}
