// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody {
  width:100%;
  td{
    text-align:center;
  }
  #char_data {
    width:15%;
  }
  #char_option {
    width:5%;
  }
}