// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#relationship_form {
  width: 50%;
  input {
    width: 45%;
    margin: 0;
    padding: 2px;
  }
}

#edit_relationship_form {
  width: 40%;
  input {
    width: 48%;
    margin: 0;
    padding: 2px;
  }
}

#delete_button {
  input {
    width: 95%;
    margin: 0;
    padding: 2px;
  }
}
